@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 2;
}
.navbar .logo-container {
	display: flex;
	align-items: center;
}
.hamburguer {
	width: 70px;
	background-color: rgb(0, 164, 101);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	transition: .4s;
}
.name h1 {
	margin-left: 1.3em;
	font-size: .8rem;
	font-weight: 400;
	letter-spacing: .24rem;
	color: rgb(189, 189, 189);
}

/* button */
.btn {
	padding: .8em;
	background: transparent;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn--project {
	z-index: 3;
}

.btn--project::before {
	content: "";
	position: absolute;
	width: 108%;
	z-index: -1;
	height: 130%;
	transition: cubic-bezier(0.63, -2, 0.3, 2) .3s;
	background: rgba(34, 34, 34, 0.11);
}
.btn--about::after,
.btn--project::after,
.btn--activate::after {
	content: "";
	position: absolute;
	width: 101%;
	height: 100%;
	border: .7px solid rgba(255, 255, 255, 0.959);
	transition: cubic-bezier(0.63, -2, 0.3, 2) .3s;
}
.btn:hover {
	cursor: pointer;
}
.btn--project:hover::after {
	width: 115%;
	height: 153%;
	border: .1px solid rgba(241, 240, 240, 0.836);
}
.btn--project:hover::before {
	background: rgba(34, 34, 34, 0.226);
}
.btn--about {
	margin-right: 1em;
	font-size: .8rem;
}
.btn--activate {
	position: fixed;
	bottom: 20px;
	left: 35%;
}
.btn__subir {
	left: 60%;
}

/* Main section */
.main {
	display: grid;
	grid-template: 1fr/1fr 1fr;
	position: absolute;
	width: 100%;
	overflow: hidden;

	height: 100%;
}
.bg-section {
	height: 100%;
	overflow: hidden;
	filter: brightness(.85);
	transition: .6s;
	/* bottom: 0; */
	position: fixed;
	z-index: -1;
}
.bg-section img {
	position: relative;
	z-index: 1;
}
.desc-section {
	height: 100vh;
	width: 100%;
	position: relative;
	background-image: url(../../imgs/pat.png);
	transition: .4s;

	background-color: rgb(0, 164, 101);
	background-blend-mode: multiply;
	display: flex;
	justify-content: center;
	align-items: center;
}
.desc-section .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.desc-section .container h1 {
	font-size: 3rem;
	text-align: center;
	padding: .7rem;
}
.desc-section .container span {
	font-size: .8rem;
}
.btn--project {
	margin-top: 3rem;
	padding: 1.3rem 3.4em;
}
hr {
	width: 60px;
	margin: 0 0 .8rem;
	border: none;
	background: white;
	height: 2.5px;
}

/* slides control */
.img-slider {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.infoSlider {
	position: relative;
	transition: .6s;
}

/* responsive */

/* DOTS */

.dot-colection {
	position: absolute;
	left: 10px;
	top: 45%;
}
.dot-container {
	display: flex;
	align-items: center;
	font-size: .8rem;
	/* font-weight: bold; */
}
.dot-container p {
	transition: .4s cubic-bezier(.51, .51, .65, 1.02);
}
.dot {
	border-radius: 50%;
	width: 6px;
	margin: 10px;
	height: 6px;
	display: inline-block;
	background: white;
	z-index: 30;
	transition: cubic-bezier(.51, .51, .63, 1.32) .3s;
}
#selected {
	transform: scale(2.3);
}
@media screen and (max-width: 700px) {
	html {
		font-size: 8px;
	}
	.bg-section img {
		height: 100vh;
	}
	.desc-section {
		height: 50vh;
		margin-top: 50vh;
	}
	.btn--activate {
		z-index: 30;
	}
	.main {
		grid-template: 1fr/1fr;
	}
}
