.colorful {
	position: absolute;
	top: 0;
	z-index: 31;
	transition-duration: .3s;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: height, width;
}
.menu-container {
	position: relative;
	z-index: -1;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.menu-item {
	position: relative;
	width: 100%;
	text-align: center;
	padding: .8rem;
	color: white;
	font-size: 1.3rem;
	transition-property: opacity, background-color;
	font-weight: bold;
	transition-duration: .3s;
}
.menu-item:hover {
	background-color: rgba(1, 1, 1, 0.219);
}
